.mainContainer{
  width: 100%;
}

.topContainer {
  width: 100%;
  height: calc(100vh - 73px);
  background-image: url("../../Assets/topLanding.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: #00d676;
  background: -webkit-linear-gradient(
    189.94deg,
    #009150 -25.33%,
    #81ffc6 120.28%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 60px;
}

.middleContainer{
  margin:60px 20px;
}
.link{
  text-decoration: none;
}

.middleTitle,.titleAbout{
  text-align: center;
  font-size:60px;
  margin-bottom:40px;
}

.middleMainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}



/* Card Styles */

.cardMainContainer {
  width: 500px;
  height: 450px;
  border-radius: 8px;
  margin: 30px;
  background-color: rgb(45, 215, 82);
}
.cardImage {
  width: 500px;
  height: 340px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


.imageContainerAbout{
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageLogoAbout{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}

.paraContainerAbout{
  display: flex;
  align-items: center;
  justify-content: center;
}
.paraAbout{
  width:60%;
  font-size:30px;
  text-align: justify;
}

@media screen and (min-width: 1700px) {
  .title {
    font-size: 80px;
  }
  .cardMainContainer {
    width: 700px;
    height: 600px;
  }
  .cardImage {
    width: 700px;
    height: 450px;
    
  }
  .container {
    height: 140px;
    font-size:30px
  }
}
@media screen and (max-width: 1160px) {
  .middleMainContainer {
    justify-content: space-evenly;
  }
}
@media screen and (max-width:700px) {
  .paraAbout{
    width:90%;
    align-items: justify center
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 50px;
  }
  .middleTitle,.titleAbout{
    font-size:50px;
  }
  .cardMainContainer {
    width: 400px;
  }
  .cardImage {
    width: 400px;  
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 40px;
  }
  .middleTitle,.titleAbout{
    font-size:45px
  }
  .cardMainContainer {
    width: 300px;
    height:350px
  }
  .cardImage {
    width: 300px; 
    height: 250px; 
  }
  .container{
    height: 80px;
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: xx-large;
  }
  .cardText
  {
    font-size: x-large;
  }
  .cardMainContainer {
    width: 100%;
  }
  .middleContainer {
    width: 95%;
    margin:60px auto;
  }
  .middleMainContainer {
    width: 100%;
  }
  .cardImage {
    width: 100%; 
  }
  .paraAbout{
    width:95%;
    font-size:24px
  }
}
@media screen and (max-width:320px) {
  .title {
    font-size: x-large;
  }
  .cardText
  {
    font-size: large;
  }
}