.primaryHeading
{
    background-color: #4a89d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 61px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.secondaryHeading
{
    text-align: center;
    margin: 10px 0px;
}
.container 
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 73px;
    align-items: center;
    min-height:calc(100vh - 135px - 73px);
    padding:30px 0px;
    justify-content:center
}
.box 
{
    width: 400px;
    /* margin: auto; */
    background-color: #e4e9f0;
    border-radius: 10px;
    padding-bottom: 20px;
}
.innerBox 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 50%;
    margin: auto;
    padding: 0px;
}
.btn
{
    outline: none;
    text-align: center;
    background-color: #4a89d9;
    border-radius: 5px;
    color: white;
    font-size: large;
    font-weight: 500;
    /* padding: 7px 15px; */
    width:150px;
    height:40px;
    margin: 7px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover
{
    transform: translateY(-1px);
    color: rgb(247, 234, 234);
    background-color:#2066c1
}
.btn:active
{
    transform: scale(0.8);
}

.modalContainer:after, .modalContainer:before
{
    content: "";
    display: table;
    clear: both;
}
.modalContainer
{
    padding: 0.01em 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal 
{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.4);
}
.modalContent
{
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 10px;
    outline: 0;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.modalHeading
{
    font-size: large;
    font-weight: 700;
    margin: 10px 0px;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modalInput
{
    text-align: center;
    outline: none;
    border: 2px solid black;
    color: black;
    background-color: #edf2f8;
    height: 40px;
    width: 300px;
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: medium;
    font-weight: 400;
}
.modalInput:focus
{
    border-color: purple;
    box-shadow: 0 0 5px purple;
}
.visible
{
    display: block;
}
.hide
{
    display: none;
}
.cancelBtn
{
    background-color: red;
}
.submitBtn
{
    background-color: green;
}
@media screen and (max-width: 500px){
    .container{
        min-height:calc(100vh - 255px - 73px);;
    }
}

@media only screen and (max-width : 430px) 
{
    .primaryHeading
    {
        font-size: x-large;
    }
    .secondaryHeading
    {
        font-size: large;
    }
    .box 
    {
        width: 300px;
    }
    .btn{
        width:100px
    }
}