/* Card Component Styling */
.coverContainer{
  margin-top:73px;
  min-height:calc(100vh - 135px - 73px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card
{
  /* background-color: rgb(24,24,24); */
  background-color: #e4e9f0;
  width: 300px;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px #dde2e9;
  margin: 10px;
  margin-top: 20px;
}
.heading
{
  color: black;
  font-size: x-large;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  /* text-decoration: underline; */
}
.formGroup
{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link
{
  text-decoration: none;
  color: #5b5bd4;
  font-size: medium;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}
.link:hover
{
  color: #3a3aaf;
}

/* Input Component Styling */
.input
{
    text-align: center;
    outline: none;
    border: 2px solid black;
    color: black;
    background-color: #edf2f8;
    height: 40px;
    width: 250px;
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: medium;
    font-weight: 400;
}
.input:focus
{
    border-color: purple;
    box-shadow: 0 0 5px purple;
}

/* Btn Component Styling */
.btn
{
  width:250px;
    outline: none;
    text-align: center;
    background-color: #4a89d9;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 7px 15px;
    margin: 7px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover
{
    transform: translateY(-1px);
    color: rgb(247, 234, 234);
}
.btn:active
{
    transform: scale(0.8);
}

/* Media Query for Responsiveness */
@media screen and (max-width:500px) {
  .coverContainer{
      min-height:calc(100vh - 255px - 73px)
  }
}
@media only screen and (max-width : 400px) 
{
  .card
  {
    width: 85%;
  }
}
@media only screen and (max-width : 300px) 
{
  .card
  {
    width: 90%;
  }
  .input
  {
    width: 95%;
  }
}