.navbar {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #3ecf8e;
  width: 100%;
  height: 73px;
  transition-property: all;
  transition-duration: 150ms;
}
.navList {
  display: flex;
  align-items: center;
  width: 95%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 20%; */
}
.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  margin-left: 15px;
  margin-top: 12px;
}

.navList li {
  list-style: none;
  margin: 0px 20px;
}
.link {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.link:hover {
    background-color: #279a66;
    cursor: pointer;
    border-radius: 4px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* width: 5%; */
  cursor: pointer;
}
.profile img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}
.select {
  position: absolute;
  right: 0px;
  top: 73px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #3ecf8e;
}
.selectLink {
    width: 100%;
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.selectLink:hover{
    background-color: #279a66;
    cursor: pointer;
}
.hide {
  display: none;
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 21px 10px;
}
.burger:hover{
    cursor: pointer;
}
.line {
  border: 2px solid white;
  border-radius: 3px;
  margin: 3px 7px;
  width: 35px;
  display: none;
}
.smallScreen {
  display: none;
}

.btnLogin{
    width: 140px;
    height: 40px;
    border-radius:5px;
    outline: none;
    border: none;
    background-color:#00c76d;
    margin-right: 30px;
    color: #fff;
    font-size:20px;
    border: 1px solid #fff;
}
.btnLogin:hover{
    cursor: pointer;
    background-color: #01b463
}

/* Responsive Navbar */
@media only screen and (max-width: 925px) {
  .line {
    display: block;
  }
  .smallScreen{
      display: block
  }
  .bigScreen{
      display:none
  }
  .navbar {
    width: 100%;
  }
  .navbar,
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .link{
      width: 100%;
      padding:0px;
      padding-left:10px
      
  }
  .navList {
    margin-top: 76px;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  }
  .navList li {
    /* border-top: 1px solid #fff; */
    display: flex;
    align-items: center;
    margin: 5px 0px;
    width: 100%;
    height: 40px;
  }
  .link:hover{
      background-color: #279a66;
      cursor: pointer;
  }
  .select {
    /* position: absolute; */
    right: calc(50%);
    transform: translateX(50%);
    top: 260px;
    /* padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-color: #3ecf8e; */
  }
  .hideVisibility {
    display: none;
  }
  .visible {
    display: block !important;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  .expandNav {
    height: fit-content;
  }
}
@media only screen and (max-height: 325px) {
  .expandNav {
    max-height: 325px;
    overflow-y: scroll;
  }
}
