.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid purple;
    background-color: #e4e9f0;
    border-radius: 20px;
    width: 65%;
    margin: 5px auto;
    padding: 5px;
}
.primaryHeading
{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    margin: 2px 0;
}
.form 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
.bigBox
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
}
.secondaryHeading
{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    margin: 3px 0;
}
.basicDetails, .acDetails
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input
{
    text-align: center;
    outline: none;
    border: 2px solid black;
    color: black;
    background-color: #edf2f8;
    height: 40px;
    width: 250px;
    margin: 5px 0px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: medium;
    font-weight: 400;
}
.input:focus
{
    border-color: purple;
    box-shadow: 0 0 5px purple;
}
.radios
{
    text-align: center;
    outline: none;
    color: black;
    /* height: 40px; */
    width: 250px;
    margin: 5px 0px;
    font-size: small;
    font-weight: 300;
}
.radio
{
    margin: 0 5px;
}
.documents
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.imageInput
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 4px;
}
.label
{
    text-align: left;
    font-size: medium;
    font-weight: 400;
    margin-right: 10px;
    width: 200px;
}
.btn
{
    outline: none;
    text-align: center;
    background-color: #3ecf8e;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 7px 15px;
    margin: 7px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover
{
    transform: translateY(-1px);
    color: rgb(247, 234, 234);
}
.btn:active
{
    transform: scale(0.8);
}

/* Media Query for Responsiveness */
@media only screen and (max-width : 1075px) 
{
    .container
    {
        flex-direction: column;
        width: 80%;
    }
}
@media only screen and (max-width : 775px) 
{
    .container
    {
        width: 95%;
    }
}
@media only screen and (max-width : 675px) 
{
    .bigBox
    {
        flex-direction: column;
    }
    .documents
    {
        align-items: center;
    }
    .label
    {
        margin-left: 10px;
    }
}
@media only screen and (max-width : 500px)
{
    .imageInput
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .label, .imgInp
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0px;
        padding: 0;
    }
    .imgInp
    {
        width: 190px;
    }
}
@media only screen and (max-width : 375px)
{
    .primaryHeading
    {
        font-size: x-large;
        font-weight: 700;
    }
    .secondaryHeading
    {
        font-size: large;
    }
    .container, .box, .bigBox
    {
        margin: 10px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box, .bigBox, .basicDetails, .acDetails
    {
        width: 100%;
    }
    .input
    {
        font-size: small;
        font-weight: 400;
        width: 90%;
    }
    .radios
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        margin: 5px 0px;
    }
}