.coverContainer{
    margin-top:73px;
    min-height:calc(100vh - 135px - 73px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container
{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    border: 2px solid #4a89d9;
    border-radius: 20px;
    margin: 10px auto;
    margin-top: 25px;
    padding: 10px;
}
.heading
{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    /* text-decoration: underline; */
    margin: 5px 0px;
    color: #4a89d9;
}
.profilePhoto
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    /* border: 1px solid black; */
    margin: 5px;
    height: 100px;
    width: 100px;
}
.profilePhoto img
{
    height: 100%;
    width: 100%;
    border-radius:50% ;
}
.details
{
    width: 100%;
}
.detail
{
    text-align: left;
    font-size: x-large;
    font-weight: 500;
    margin: 5px 4px;
}

/* Media Query for Responsiveness */

@media only screen and (max-width : 550px) 
{
    .container
    {
        width: 400px;
    }
    .detail{
        font-size:18px
    }
}
@media screen and (max-width:500px) {
    .coverContainer{
        min-height:calc(100vh - 255px - 73px)
    }
}
@media only screen and (max-width : 420px) 
{
    .container{
        width:95%;
    }
}
@media screen and (max-width :390px){
    .detail{
        font-size:14px
    }    
    .container{
        width:98%
    }
}