.container
{
    /* border: 2px solid red; */
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* min-height: 80vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.primaryHeading
{
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
    margin: 0.75rem 0;
}
.form
{
    /* border: 2px solid black; */
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #e4e9f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondaryHeading
{
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    margin: 0.50rem 0;
}
.input
{
    text-align: center;
    outline: none;
    border: none;
    color: black;
    background-color: #edf2f8;
    height: 40px;
    width: 250px;
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: medium;
    font-weight: 400;
}
.btn
{
    outline: none;
    text-align: center;
    background-color: #3ecf8e;
    border-radius: 15px;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 7px 15px;
    margin: 7px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover
{
    transform: translateY(-1px);
    color: rgb(247, 234, 234);
}
.btn:active
{
    transform: scale(0.8);
}